html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

canvas {
  background-color: black;
}


/* overlay */
#a {
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  text-align: center;
  color: white;
  font-family: Courier New, monospace;
  font-size: 4vh;
}

/* health */
#b {
  position: fixed;
  color: red;
  font-size: 5vh;
  top: 10px;
  left: 10px;
  font-family: Courier New, monospace;
}

/* health hearts */
#b span {
  margin-right: 5px;
}